@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #66bbff;
}

h1 {
	color: #000;
}

#tabela{
	margin-top: 30px;
	border-collapse: collapse;
	background-color: #fff;
}

#tabela th{
	border: 1px solid #add;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
}

#tabela td{
	border: 1px solid #add;
	padding: 10px;
}

#fundo{
	position: relative;
    height: 100vh;
    width: 100vw;
	text-align: center;
	margin: 0 auto;
	background-image: url(imagens/FundoEneSolar.jpg);
}
